@media only screen and (min-width: 34em) {
    nav, p, ul, ol, dl, code {
        font-size: 1em;
    }
    h1 {font-size: 2.0em;}
    h2 {font-size: 1.4em;}
    h3 {float: left; margin-right: 2em; width: 12em;}
    .small {display: none}
    .medium {display: inline}
}
@media only screen and (min-width: 54em) {
    h1 {font-size: 2.2em;}
    h2 {font-size: 1.5em;}
    h3, h4 {font-size: 1.1em;}
    h3 {width: 20em;}

    .large {display: inline}
    .medium {display: none}
}

@media only screen and (min-width: 76em) {
    h1 {font-size: 2.4em;}
    h2 {font-size: 1.7em;}
    h3, h4 {font-size: 1.2em;}
    h3 {width: 30em;}
}
